body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, footer {
  padding: 20px;
  background-color: #f0f0f0;
}

header {
  background-color: black;
  color: white;
}

main {
  padding: 20px;
}


button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}



/* Only apply to a main inside a body 
that has class dark-mode */

main {
  background-color: darkblue;
  color: white;
}

